{% extends "base.html" %}

{% load compress %}
{% load cms_tags %}
{% load menu_tags %}

{% block head-icons %}
    <link rel="icon" href="{{ STATIC_URL }}favicon.ico">
{% endblock %}

{% block head-css %}
        <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
{% endblock %}

{% block body-sheath %}
    <div class="page" id="page">
        <header class="site-header">
            <div class="header">
                <div class="container">
                    <h1 class="brand">
                        <a class="brand_link" href="/">
                          <img src="{{ STATIC_URL }}/logo.png" alt="" style="width: 30%; margin-top: 30px;">
                        </a>
                    </h1>
                    <a href="#mmenu" class="show-menu">
                        <span class="icon-menu" aria-hidden="true"></span>
                        <span class="sr-only">Open the menu</span>
                    </a>

                    <nav>
                        <ul class="secondary nav">
                            {% include 'includes/nav_secondary.html' %}
                        </ul>
                        <ul class="primary nav">
                            {% show_menu 0 100 100 100 "menu/menu.html" %}
                            <li class="search">
                                <label for="search">
                                    <span class="icon-search" aria-hidden="true" id="display-search-bar"></span>
                                    <span class="sr-only">Search</span>
                                </label>
                            </li>
                        </ul>
                    </nav>
                </div>

                <div class="search-bar" id="main-search-bar">
                    {% include 'includes/search.html' %}
                </div>
            </div>

            {% block pagebanner %}{% endblock %}
        </header>

        <main class='{% block main-class %}container {% endblock %}main'>
            {% block body %}{% endblock %}
        </main>
        {% block pre_footer %}
        <section class="footer-cta">
          <div class="container">
            <div class="text">
              {% static_placeholder "footer call to action text" %}
            </div>
            <div class="link">
              {% static_placeholder "footer call to action link" %}
            </div>
          </div>
        </section>
        {% endblock %}
        <footer class="site-footer">
            <div class='container'>
                {% include 'includes/footer.html' %}
            </div>
        </footer>
    </div>

    <nav id="mmenu" class="mobile-menu">
        <ul>
            {% include 'includes/nav.html' %}
            {% include 'includes/nav_secondary.html' %}
        </ul>
    </nav>
{% endblock %}

{% block javascript-libraries %}

        {% comment %}
  NB: The inline script tags here get compiled into the single JavaScript file
  for the page, so changes to these *will only show up* if the application is
  redeployed.

  The reason for this is simple. If we excise all inline script tags from our
  pages, then we can serve in production with a Content-Security-Policy which
  includes `unsafe-inline`, thus protecting ourselves from a wide range of XSS
  attacks.
{% endcomment %}

        {% if GOOGLE_ANALYTICS_TRACKING_ID and GOOGLE_ANALYTICS_DOMAIN %}
            <script>
                (function (i, s, o, g, r, a, m) {
                    i['GoogleAnalyticsObject'] = r;
                    i[r] = i[r] || function () {
                                (i[r].q = i[r].q || []).push(arguments)
                            }, i[r].l = 1 * new Date();
                    a = s.createElement(o),
                            m = s.getElementsByTagName(o)[0];
                    a.async = 1;
                    a.src = g;
                    m.parentNode.insertBefore(a, m)
                })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

                ga('create',
                        '{{ GOOGLE_ANALYTICS_TRACKING_ID }}',
                        '{{ GOOGLE_ANALYTICS_DOMAIN }}');
                ga('send', 'pageview');
            </script>
        {% endif %}

        <script type="text/javascript" src="{{ STATIC_URL }}js/scripts.js"
                charset="utf-8"></script>
        {% block template-scripts %}{% endblock template-scripts %}
        <script>
            $(function () {
                {% block template-js %}{% endblock template-js %}
            });
        </script>

{% endblock %}
